<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title><%= title %> </title>

  <!-- Fonts & Icons -->
  <link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect"/>
  <link as="style" href="https://fonts.googleapis.com/css2?display=swap&family=Inter:wght@400;500;700;900" onload="this.rel='stylesheet'" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>

  <!-- Tailwind -->
  <!-- <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script> -->
  <!-- <script src="/js/tailwind.config.js"></script> -->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/style.css"/>
</head>
